/* src/CSS/Header.css */
.header {
  background-color: #e8f3ee;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px; /* Ajusta el tamaño del logo */
  width: auto;  /* Mantiene la proporción del logo */
}

.header-actions .btn-reservar {
  background-color: #FF5722;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}